body {
    background-color: greenyellow;
    box-sizing: border-box;
    width: 80%;
}

#cv {
    box-sizing: border-box;
    width: 100%;
    margin: 10%;
}

.nombre {
    color: black;
    font-size: 25px;
}

h1 {
    border-bottom: 3px solid #348498;
    padding-bottom: 10px;
    color: #348498;
    font-size: 20px;
}

h2 {
    color: #348498;
    font-size: 15px;
}

h3 {
    color: #348498;
    font-size: 15px;
}

.datos {
    padding: 5px;
    border-bottom: 1px solid coral;
    border-bottom-style: dotted;
    list-style-type: none;
    font-family: 'Maven Pro', sans-serif;
    letter-spacing: 5px;
}

.derecho {
    margin: 5px 5px 5px 5px;
    background-color: white;
    padding: 30px;
    border: 1px solid white;
    width: 60%;
    font-family: 'Play', sans-serif;
    float: right;
}

.lado-izquierdo {
    margin: 0px;
    background-color: #f4f4f0;
    width: 20%;
    font-family: 'Play', sans-serif;
    float: left;
    position: fixed;
}

.menu {
    list-style-type: none;
    margin: auto;
    padding: initial;
}

.i {
    padding: 10px;
    background-color: #cac09b;
    border: 1px solid #cac09b;
    margin: 3px;
    width: 250px;
    border-radius: 10px;
}

.foto {
    padding: 10px;
    margin: 3px;
    width: 40%;
}

.portafolio {
    list-style-type: none;
    padding: 0px;
}

.a {
    display: inline;
}

.b {
    display: inline;
}

.datos-personales {
    padding: 0px 0px 3px 0px;
}

.picture {
    border-radius: 100%;
}


